<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Movie Recommendation System</title>

  <!--Css file-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='movierec.css')}}" />

</head>
<body>
  <!-- Title -->
  <h1>Movie Recommendations</h1>

  <!-- Input Section -->
  <div style="text-align: center; margin-bottom: 20px;">
    <input type="number" id="userId" placeholder="Enter User ID" />
    <button id="startBtn">Start</button>
  </div>

  <!--Search Bar-->
  <div style ="text-align: center; margin-bottom: 20px;">
    <input type="text" id="searchbar" placeholder="Search Movies" onkeyup="searchMovie()"/>
   </div> 

  <!-- Recommendations Section -->
  <div id="movie-container" class="container">

   
  </div>

  <!-- Pop-up -->
  <div id="popup" class="popup" style="display: none;">
    <div class="popup-content">
      <h2>Choose at least 3 Favorite Movies</h2>
      <div id="popup-movies" class="container"></div>
      <button id="submitBtn">Submit</button>
    </div>
  </div>

  <!-- Link External JavaScript -->
  <script src="{{ url_for('static', filename='scriptmovierec.js')}}"></script>
</body>
</html>
