<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Movie Recommendation System</title>

  <!--Css file-->
  <link rel="stylesheet" href="movierec.css" />

</head>
<body>
  <!-- Title -->
  <h1>Recommendation</h1>

  <!-- Input Section -->
  <div style="text-align: center; margin-bottom: 20px;">
    <input type="number" id="userId" placeholder="Enter User ID" />
    <button id="startBtn">Start</button>
  </div>

  <!--Search Bar-->
  <div style ="text-align: center; margin-bottom: 20px;">
    <input type="text" id="searchbar" placeholder="Search Movies" onkeyup="searchMovie()"/>
   </div> 

<!-- Recommendations Section -->
<div id="recommendations" class="container" style="display: none; margin-top: 20px;">
    <h2>Recommended Movies</h2>
    <div id="recommendations-container"></div>
  </div>
  
  <!-- Link External JavaScript -->
  <script src="scriptmovierec.js"></script>
</body>
</html>
